.media{
    display: flex;
    justify-content: space-around;
}

.credits{
    display: grid;
    justify-content: center;
    padding-top: 5px;
    background: linear-gradient(to right, #cad8ff, #8698ff);

}
.credits p{
    text-align: center;
    font-family: monospace;
}

.pie{
    border-top: solid 2px #9b9999;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}